* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./MainTitle";
@import "./Radio";
@import "./SectionGeneral";
@import "./Loading";
@import "./MediaCard";
@import "./MainNews";

.main-title {
  font-family: "Montserrat", sans-serif;
}
.fab-back {
  position: "absolute";
  top: 50vh;
  left: 1rem;
}
